<!DOCTYPE html>
<html class="h-full text-neutral-800" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>apidf</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime"></script>
    <script type="module">
      import { createApp } from 'https://unpkg.com/petite-vue?module'
      createApp({
        template: {},
        exampleData: '',
        pdf: null,
        async generatePdf(exampleData) {
          const pdf = await (await fetch(`/api/pdf/${this.template.id}`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: this.exampleData
          })).blob()

          this.pdf = URL.createObjectURL(pdf)
        },
        async getTemplate() {
          const searchParams = new URLSearchParams(document.location.search)
          const template = await (await fetch(`/api/templates/${searchParams.get('id')}`)).json()
          this.template = template
          if(template.exampleData)
            this.exampleData = JSON.stringify(template.exampleData, null, 2)

          this.generatePdf()
        },
      }).mount()
    </script>
    <style>
      [un-cloak] {
        display: none;
      }
    </style>
  </head>
  <body class="px-6 py-8 flex gap-4 h-full" un-cloak>
    <a 
      aria-label="Back"
      class="bg-neutral-200 hover:bg-neutral-300 rounded h-8 w-8 block text-center text-xl font-bold" href="/">
      <img aria-hidden src="/icon/chevron-left.png" height="30" width="30" />
    </a>
    <div 
      v-scope 
      @vue:mounted="getTemplate()"
      class="flex-1 flex flex-col md:flex-row gap-4" 
    >
      <div class="md:min-w-[400px]">
        <h1 class="text-xl font-semibold">{{template.name}}</h1>
        <p class="text-neutral-500">{{template.description}}</p>
        <div class="mt-6">
          <div class="flex items-center mb-2 gap-3">
            <p class="py-1 px-2 rounded bg-green-700 text-white text-lg font-semibold">POST</p>
            <p class="flex-1 border rounded-lg px-2 py-1">{{`${location.origin}/api/pdf/${template.id}`}}</p>
            <button 
              class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-1 rounded text-lg font-semibold" 
              @click="generatePdf"
            >
              Generate
            </button>
          </div>
          <p class="font-semibold">Data</p>
          <textarea class="w-full border rounded-sm p-1" v-model="exampleData" rows="24"></textarea>
        </div>
      </div>
      <div class="flex-1">
        <iframe class="w-full h-full" v-if="pdf" :src="pdf" />
      </div>
    </div>
  </body>
</html>